@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Chakra+Petch:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #112A46;
    background-image: url("/img/fondo1.svg");
    background-size:  cover;
}

h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
    /* text-align: center; */
}

/*DISEÑO HEADER DE LAS PÁGINAS*/
.header{
    color: #112A46;
    background-color: #E76F51;
    margin: 0.5rem;
    padding: 0.4rem;
    position: sticky;
    top: 0.5rem;
}

.header__logo{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav{
    background-color: #112A46;
    padding: .2rem;
    margin-top: 1.5rem;
}

.header__nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.header__nav li{
    /* display: inline; */
    list-style: none;
    margin-right: 1rem;
    align-content: center;
}

.header__nav a{
    color: #E76F51;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

/* From cssbuttons.io */

/* .menuItem {
 --color: #e76f51;
 font-family: inherit;
 display: inline-block;
 width: 8em;
 height: 2.6em;
 line-height: 2.5em;
 margin: 20px;
 position: relative;
 overflow: hidden;
 border: 2px solid var(--color);
 transition: color .5s;
 z-index: 1;
 font-size: 17px;
 border-radius: 6px;
 font-weight: 500;
 color: var(--color);
}

.menuItem:before {
 content: "";
 position: absolute;
 z-index: -1;
 background: var(--color);
 height: 150px;
 width: 200px;
 border-radius: 50%;
}

.menuItem:hover {
 color: #fff;
}

.menuItem:before {
 top: 100%;
 left: 100%;
 transition: all .7s;
}

.menuItem:hover:before {
 top: -30px;
 left: -30px;
}

.menuItem:active:before {
 background: #3a0ca3;
 transition: background 0s;
} */

/* DISEÑO BARRA NAVEGACIÓN INTERIOR */

.cuerpo__nav ul{
    background-color: #112A46;
    padding: .2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
}

.cuerpo__nav li{
    list-style: none;
    border: solid 1px white;
    padding: .3rem;
}

.cuerpo__nav a{
    color: #E76F51;
    text-decoration: none;
    font-size: .8rem;;
}

.cuerpo{
    margin: 0.8rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border: #E76F51 solid 1px;
}

.cuerpo__row{
    margin: 0.8rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    border: #E76F51 solid 1px;
    gap: 1rem;
    text-align: justify;
}

.cuerpo__col{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.cuerpo__foto{
    height: 100px;
    width: 200px;
    border: #E76F51 solid 1px;
}

.barraLatIzq{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .5rem;
    /* border: #E76F51 solid 1px; */
}

.barraLatIzq article{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    text-align: justify;
    padding: 0.5rem;
}

.imagen{
    height: 200px;
    width: 300px;
    flex-basis: 20%;
}

.cuerpo__foto{
    height: 100px;
    width: 200px;
    border: #E76F51 solid 1px;
}

.barraLatDer{
    /* border: #E76F51 solid 1px; */
    padding: 0.5rem;
    flex-basis: 10%;
}

.barraLatDer img{
    height: 50px;
    width: 100px;
}

.barraLatDer li{
    list-style: none;
}

/*DISEÑO PIE DE PÁGINAS*/
span{
border:#E76F51 solid 2px;
    width: 100%;
    display: block;
}

.footer{
    margin: 0.8rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer p{
    margin-right: .5rem;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    gap: 0.8rem;
}

fieldset{
    padding: 1rem;
}

/*-----MEDIA QUIERY-----*/

@media screen and (max-width: 768px)
{
    .header__nav ul {
        flex-direction: column;
        align-items: left;
        text-align: right;
    }
    h1{
        font-size: 2rem;
    }
    .cuerpo__row{
        flex-direction: column;
    }
    .barraLatDer{
        display: flex;
        flex-direction: row;
        border: #E76F51 solid 1px;
        align-items: center;
    }
    .cuerpo__izq, .cuerpo__der, .barraLatDer ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .barraLatDer li{
        margin-right: 1rem;
    }
    .cuerpo__col{
        flex-direction: column;
    }
    .barraLatIzq article{
        flex-direction: column;
    }
    picture{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        justify-items: center;
    }
}