/* DISEÑO BARRA NAVEGACIÓN INTERIOR */
body{
  background: rgb(36,0,0);
background: linear-gradient(133deg, rgba(36,0,0,0.9976365546218487) 0%, rgba(221,11,11,1) 0%, rgba(193,244,205,0.896796218487395) 21%);
}
.cuerpo {
    font-family: $font-gral;
    font-size: $font-size*.5;
    @include padding-margin(0.5rem, 0.8rem);
    border: $color-borde;
    border-radius: map-get($bordes-radio, rad1010);
    gap: 1rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    
    /* background: rgb(248, 252, 249);
    background: -moz-linear-gradient(
        142deg,
        rgba(248, 252, 249, 1) 15%,
        rgba(49, 156, 72, 1) 52%,
        rgba(190, 24, 24, 1) 87%
    );
    background: -webkit-linear-gradient(
        142deg,
        rgba(248, 252, 249, 1) 15%,
        rgba(49, 156, 72, 1) 52%,
        rgba(190, 24, 24, 1) 87%
    );
    background: linear-gradient(
        142deg,
        rgba(248, 252, 249, 1) 15%,
        rgba(49, 156, 72, 1) 52%,
        rgba(190, 24, 24, 1) 87%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fcf9",endColorstr="#be1818",GradientType=1); */
    &__nav ul {
        background-color: $color-text;
         @include padding-margin(0.2rem, 1rem);
        display: flex;
        flex-direction: row;
        border: $color-borde;
        border-radius: map-get($bordes-radio, rad0505);
    }
    &__nav li {
        list-style: none;
        border: solid 1px white;
        border-radius: map-get($bordes-radio, rad0505);
         @include padding-margin(0.3rem, 0.3rem);
    }
    &__nav a {
        color: $color-borde;
        text-decoration: none;
        font-size: 0.8rem;
    }
    &__nav a:hover {
        color: white;
        font-weight: bold;
    }

    &__col {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
    }
    &__foto {
        width: 100%;
        max-height: 221px;
        object-fit: cover;
        border: $color-borde;
       border-radius: map-get($bordes-radio, rad1000);
    }
    &__foto:hover {
        transform: rotate(10deg);
        transition: 1s;
    }
    &__articulo {
        text-align: justify;
    }
}


.imagen {
    width: 100%;
    flex-basis: 20%;
    border: 1px solid #e76f51;
    border-radius: map-get($bordes-radio, rad1000);
    object-fit: cover;
    &:hover {
        backface-visibility: hidden;
        transform: scale(1.15, 1.15);
        opacity: 1;
        transition: 1s;
    }
    &__slider {
        height: 40vh;
        object-fit: cover;
    }
    &__nos {
        height: 150px;
        width: 150px;
        border: 1px solid #e76f51;
        border-radius: 50%;
        object-fit: cover;
        &:hover {
            backface-visibility: hidden;
            transform: scale(1.5, 1.5);
            opacity: 1;
            transition: 1s;
        }
    }
}

.formulario{
    .boton {
        width:200px;
        height:50px;
        background-color:white;
        text-align:center;
        color:black;
       border-radius: map-get($bordes-radio, rad2020);
        border:1px solid $color-borde;
    }

    .boton__aceptar{
        @extend .boton;
        background-color:green;
        font-weight: bold
    }

    .boton__cancelar{
        @extend .boton;
        background-color:red;
        font-weight: bold
    }

    .boton:hover{
            color: white;
            font-weight: bold;
    }
    textarea {
        min-width: 100%;
    }
}

.barraLatDer {
    p {
        text-align: center;
    }
    img {
        width: 100%;
    }
    li {
        list-style: none;
        margin-bottom: 0.7rem;
    }
}

.tarifa {
    text-align: center;
}
